/* .containerTicket {
  background: #412c42;
  font-family: 'Montserrat', sans-serif;
  width: 70%;
} */
.ticket {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 20px auto;
}
.ticket .stub,
.ticket .check {
  box-sizing: border-box;
}
.stub {
  background: #664c68;
  height: 150px;
  width: 150px;
  color: white;
  padding: 20px;
  position: relative;
}
.stub:before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  border-top: 20px solid #412c42;
  border-left: 20px solid #664c68;
  width: 0;
}
.stub:after {
  content: '';
  position: absolute;
  bottom: 0;
  right: 0;
  border-bottom: 20px solid #412c42;
  border-left: 20px solid #664c68;
  width: 0;
}
.stub .top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 40px;
  text-transform: uppercase;
}
.stub .top .line {
  display: block;
  background: #fff;
  height: 40px;
  width: 3px;
  margin: 0 20px;
}
.stub .top .num {
  font-size: 10px;
}
.stub .top .num span {
  color: #000;
}
.stub .number {
  position: absolute;
  left: 40px;
  font-size: 50px;
}
.stub .invite {
  position: absolute;
  left: 150px;
  bottom: 45px;
  color: #000;
  width: 40%;
}
.stub .invite:before {
  content: '';
  background: #fff;
  display: block;
  width: 40px;
  height: 3px;
  margin-bottom: 5px;
}
.check {
  background: #fff;
  height: 150px;
  width: 280px;
  padding: 15px;
  position: relative;
}
.check:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  border-top: 20px solid #412c42;
  border-right: 20px solid #fff;
  width: 0;
}
.check:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  border-bottom: 20px solid #412c42;
  border-right: 20px solid #fff;
  width: 0;
}
.check .big {
  font-size: 20px;
  font-weight: 900;
  line-height: .8em;
}
.check .number {
  top: 50px;
  right: 50px;
  color: #664c68;
  font-size: 30px;
}
.check .info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          /* justify-content: flex-start; */
  font-size: 15px;
  width: 100%;
}