body {
  font-weight: 300;
  line-height: 1.42em;
  color: #000000;
  background-color: #575d6b;
}

h1 {
  font-size: 3em;
  line-height: 1em;
  text-align: center;
  color: #4dc3fa;
  letter-spacing: 2px;
}

h2 {
  font-size: 1em;
  font-weight: 300;
  text-align: center;
  display: block;
  line-height: 1em;
  padding-bottom: 2em;
  color: #fb667a;
}

h2 a {
  font-weight: 700;
  text-transform: uppercase;
  color: #fb667a;
  text-decoration: none;
}

.blue {
  color: #63bfe9;
}
.yellow {
  color: #fff842;
}

.container th h1 {
  font-weight: bold;
  font-size: 1em;
  text-align: left;  
  font-family: "acta-display", sans-serif;
  color: #f8fafb;
}

.container td {
  font-weight: normal;
  font-size: 1em;
  -webkit-box-shadow: 0 2px 2px -2px #b2b2b3;
  -moz-box-shadow: 0 2px 2px -2px #b2b2b3;
  box-shadow: 0 2px 2px -2px #b2b2b3;
}

.container {
  text-align: left;
  overflow: hidden;
  width: 80%;
  margin: 0 auto;
  display: table;
  padding: 0 0 8em 0;
}

.container td,
.container th {
  padding-bottom: 2%;
  padding-top: 2%;
  padding-left: 2%;
  justify-content: center;
}

/* Background-color of the odd rows */
.container tr:nth-child(odd) {
  background-color: #847484;
}

/* Background-color of the even rows */
.container tr:nth-child(even) {
  background-color: #b3a4b3;
}

.container th {
  background-color: #515152;
}

.container td:first-child {
  color: #3f3e3e;
  font-family: "acta-display", sans-serif;
  font-weight: bold;
}

.container tr:hover {
  background-color: #ffffff;
  -webkit-box-shadow: 0 6px 6px -6px #b2b2b3;
  -moz-box-shadow: 0 6px 6px -6px #b2b2b3;
  box-shadow: 0 6px 6px -6px #b2b2b3;
}

.container td:hover {
  background-color: #cf84f1;
  color: #000000;
  font-size: normal;
  font-weight: bold;

  box-shadow: #cf84f1 -1px 1px, #cf84f1 -2px 2px, #cf84f1 -3px 3px,
    #cf84f1 -4px 4px, #cf84f1 -5px 5px, #cf84f1 -6px 6px;
  transform: translate3d(6px, -6px, 0);

  transition-delay: 0s;
  transition-duration: 0.4s;
  transition-property: all;
  transition-timing-function: line;
}

@media (max-width: 800px) {
  .container td:nth-child(4),
  .container th:nth-child(4) {
    display: none;
  }
}
