@import url(https://use.typekit.net/euz1eqv.css);

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "acta-display", sans-serif;
}

.App {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'acta-display', serif;
  overflow-x: hidden;
}

:root {
  --soft: #E9E0E5;
  --medium: #DED4DA;
  --hard: #412C42;
  --texting: #22293F;
  --bright: #CCC4D1;
}

a.no-style {
  text-decoration: none;
  color: var(--hard)
}

.bg-cover { 
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.bg-contain { 
  background-repeat: no-repeat;
  background-size: contain;
  background-position: left;
}


.w-100vw { width: 100vw; }
.h-100vh { height: 100vh; }

.section-container {
  filter: grayscale(50%);
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
  position: relative;
  text-align: center;
  background-color: var(--soft);
}

.section-wrapper {
  min-height: 100vh;
  height: 100%;
}

.meeting-container {
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: 0;
  overflow: hidden;
  background-color: var(--soft);
}

.inner-scroll {
  height: 50vh;
  overflow-x: hidden
}

iframe .banner.jsx-3977386152 {
  display: none;
}

.soft-background-images {
  background-image: url('./assets/bg-flower-clean.jpg');
}

.img-background-images {
  background-image: url('./assets/bg-forsythia.png');
}

.grayscale-50 {
  filter: grayscale(50%);
}

.title {
  color: var(--texting);
  font-weight: bold;
}

.parallax-hero {
  position: fixed;
  top: 0;
}

.bg-soft { background-color: var(--soft); }
.bg-hard { background-color: var(--hard); }

iframe body {
  height: 99;
  margin: 0;
}

.navigation-fixed {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 70px;
	background: rgba(65, 44, 66, .6);
  z-index: 9;
  transition: 0.3s all;
}

.navigation-fixed.position-fixed {
  top: 0;
  transition: 0.3s all;
}

.navigation-fixed  li {
	display: inline-block;
	padding: 24px 10px;
}

.navigation-fixed  li a {
	color: var(--medium);
	text-transform: capitalize;
  font-family: "acta-display", sans-serif;
  text-decoration: none;
  transition: 0.3s;
}

.navigation-fixed  li a:hover {
  color: var(--texting);
  text-decoration: border;
  font-size: 20px;
  transition: 0.3s;
}

.hero__image {
  filter: grayscale(50%)
}

.hero__title {
  font-family: "acta-display", sans-serif;
  left: 5vw;
  max-width: 500px;
  text-align: left;
  color: var(--medium)
}

.soft-font {
  color: var(--soft)
}

.profile-image-wrapper img {
  width: 100%;
  height: auto;
  border-radius: 20px;
}

.profile-image-wrapper {
  width: 100%;
  max-width: 25vw;
}

.section-dashboard {
  background-color: rgba(0, 0, 0, 0.07);
  border-radius: 20px;
}

.checkout.section-dashboard {
  overflow: hidden;
  max-height: 100vh;
}

.checkout-image-wrapper {
  max-width: 50px;
}

.checkout-image-wrapper img {
  width: 100%;
  height: auto;
}

/* LOADER START */

.loader-wrapper {
  background: linear-gradient(45deg, #6fc7b5 0%, #13bdce 20%, #0094d9 40%, #5a3694 60%, #ee4d74 80%, #f58c58 100%);
  background-size: 600%;
  background-position: 0% 100%;
  -webkit-animation: gradient 7s ease-in-out infinite;
          animation: gradient 7s ease-in-out infinite;
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 999999;
}

.loading {
  width: 100%;
  height: 100%;
}
.loading * {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate3d(-50%, -50%, 0) rotate(0deg);
}
.loading .logo {
  background-image: url("./assets/logo.png");
  background-repeat: no-repeat;
  background-position: center;
  width: 180px;
  height: 100%;
}
.loading .dots.animate .dot {
  -webkit-animation: loading-block 3.5s ease-in-out infinite;
          animation: loading-block 3.5s ease-in-out infinite;
}
.loading .dots.animate .dot:after {
  -webkit-animation: loading-dot 3.5s ease-in-out infinite;
          animation: loading-dot 3.5s ease-in-out infinite;
}
.loading .dots .dot {
  width: 300px;
  height: 300px;
}
.loading .dots .dot:after {
  content: "";
  display: inline-block;
  width: 60px;
  height: 60px;
  background-color: var(--soft);
  border-radius: 50%;
  position: absolute;
  transform: scale(0.17);
}
.loading .dots .dot:nth-child(1) {
  top: 120px;
  left: -209px;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
}
.loading .dots .dot:nth-child(1):after {
  transform-origin: top right;
  top: 0;
  right: 0;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
}
.loading .dots .dot:nth-child(2) {
  top: -161px;
  left: -194px;
  -webkit-animation-delay: 0.25s;
          animation-delay: 0.25s;
}
.loading .dots .dot:nth-child(2):after {
  transform-origin: bottom right;
  bottom: 0;
  right: 0;
  -webkit-animation-delay: 0.25s;
          animation-delay: 0.25s;
}
.loading .dots .dot:nth-child(3) {
  top: -161px;
  left: -101px;
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}
.loading .dots .dot:nth-child(3):after {
  transform-origin: bottom right;
  bottom: 0;
  right: 0;
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}
.loading .dots .dot:nth-child(4) {
  top: 116px;
  left: 200px;
  -webkit-animation-delay: 0.75s;
          animation-delay: 0.75s;
}
.loading .dots .dot:nth-child(4):after {
  transform-origin: top left;
  top: 0;
  left: 0;
  -webkit-animation-delay: 0.75s;
          animation-delay: 0.75s;
}
.loading .dots .dot:nth-child(5) {
  top: -161px;
  left: 214px;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}
.loading .dots .dot:nth-child(5):after {
  transform-origin: bottom left;
  bottom: 0;
  left: 0;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

@-webkit-keyframes loading-block {
  71.4285714286%, 100% {
    transform: translate3d(-50%, -50%, 0) rotate(360deg);
  }
}

@keyframes loading-block {
  71.4285714286%, 100% {
    transform: translate3d(-50%, -50%, 0) rotate(360deg);
  }
}
@-webkit-keyframes loading-dot {
  0%, 71.4285714286%, 100% {
    transform: scale(0.17);
  }
  35.7142857143% {
    transform: scale(1);
  }
}
@keyframes loading-dot {
  0%, 71.4285714286%, 100% {
    transform: scale(0.17);
  }
  35.7142857143% {
    transform: scale(1);
  }
}
@-webkit-keyframes gradient {
  50% {
    background-position: 100% 0%;
  }
}
@keyframes gradient {
  50% {
    background-position: 100% 0%;
  }
}

/* LOADER END */

/* LOGIN & REGISTER */

.app {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  overflow-y: scroll;
  background-image: url("https://www.drmanalyoussef.com.au/wp-content/uploads/brizy/2482/assets/images/iW=5000&iH=any/46b70b7b7a66344ac0d8aa89da6bba51.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.form-block-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  transition: all 0.85s ease-in-out;
}
.form-block-wrapper--is-login {
  opacity: 0.92;
  background-color: rgba(0,0,0, .6);
}

.half-wrapper {
  display: none!important;
}

.form-block--is-signup .half-wrapper {
  display: flex!important;
}

.form-block-wrapper--is-signup {
  opacity: 0.94;
  background-color: rgba(0,0,0, .8);
}

.form-block {
  position: relative;
  margin: 50px auto 0;
  width: 350px;
  padding: 25px;
  background: rgba(255, 255, 255, 0.13);
  border-radius: 30px;
  color: var(--bright);
  box-shadow: 0px 0px 16px 9px rgba(0, 0, 0, 0.07);
}

.form-block__header {
  margin-bottom: 20px;
}

.form-block__header h1 {
  font-size: 30px;
  margin: 0 0 20px;
}

.form-block__toggle-block {
  position: relative;
}

.form-block__toggle-block span {
  font-size: 13px;
  font-weight: 300;
  color: rgba(255, 255, 255, 0.65);
}

.form-block__input-wrapper {
  height: 126px;
  position: relative;
  margin-bottom: 2px;
  transition: all 0.25s cubic-bezier(0.36, 1, 0.62, 0.98) 0.3s;
}

.form-block--is-signup,
.form-block--is-login {
  transition: 0.3s;
}

.form-block--is-signup {
  width: 50vw;
}

.form-block--is-signup .form-block__input-wrapper {
  height: 300px;
  transition: all 0.5s cubic-bezier(0.36, 1, 0.62, 0.98) 0.2s;
}

.form-group--signup {
  position: absolute;
  top: 0;
  left: 150%;
  width: 100%;
}

.form-group__input {
  display: block;
  font-size: 15px;
  color: #fff!important;
  width: 100%;
  box-sizing: border-box;
  font-size: 16px;
  padding: 14px 20px;
  margin-bottom: 15px;
  background: rgba(255, 255, 255, 0.25);
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 50px;
}

.form-group__input:focus {
  outline: none;
  background: transparent;
}

.form-group .form-control:focus {
  color: #fff;
}

.form-group .form-control::placeholder {
  color: rgba(255,255,255,.6);
}

.form-block--is-signup  .form-group__input {
  transform: translateX(-150%);
}

.half-wrapper {
  display: flex;
  align-content: space-between;
  flex-wrap: wrap;
  transform: translateX(-150%);
}
.half-wrapper > select.form-group__input,
.half-wrapper > input.form-group__input {
  width: 47%;
  transform: translateX(0);
}

/* .btn-file {
  position: relative;
  overflow: hidden;
}
.btn-file input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  font-size: 100px;
  text-align: right;
  filter: alpha(opacity=0);
  opacity: 0;
  outline: none;
  background: white;
  cursor: inherit;
  display: block;
} */

.form-group--login .form-group__input {
  opacity: 1;
}
.form-block--is-signup .form-group--login .form-group__input {
  opacity: 0;
}
.form-group--signup .form-group__input {
  opacity: 0;
}
.form-block--is-signup .form-group--signup .form-group__input {
  opacity: 1;
}

.form-group__input:nth-of-type(1) {
  transition: transform 0.35s cubic-bezier(0.36, 1, 0.62, 0.98) 0.085s, opacity 0.3s ease-in-out 0.2s, background 0.15s ease-in-out, border 0.3s ease-in-out;
}

.form-group__input:nth-of-type(2) {
  transition: transform 0.35s cubic-bezier(0.36, 1, 0.62, 0.98) 0.17s, opacity 0.3s ease-in-out 0.2s, background 0.15s ease-in-out, border 0.3s ease-in-out;
}

.form-group__input:nth-of-type(3) {
  transition: transform 0.35s cubic-bezier(0.36, 1, 0.62, 0.98) 0.255s, opacity 0.3s ease-in-out 0.2s, background 0.15s ease-in-out, border 0.3s ease-in-out;
}

.form-group__input:nth-of-type(4) {
  transition: transform 0.35s cubic-bezier(0.36, 1, 0.62, 0.98) 0.34s, opacity 0.3s ease-in-out 0.2s, background 0.15s ease-in-out, border 0.3s ease-in-out;
}

.form-group__input:nth-of-type(5) {
  transition: transform 0.35s cubic-bezier(0.36, 1, 0.62, 0.98) 0.40s, opacity 0.3s ease-in-out 0.2s, background 0.15s ease-in-out, border 0.3s ease-in-out;
}

.button {
  display: inline-block;
  padding: 15px 12px;
  margin-bottom: 0;
  font-size: 16px;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  background-image: none;
  border: none;
  border-radius: 50px;
  transition: all 0.2s ease-in-out;
  box-shadow: 0px 0px 13px 8px rgba(0, 0, 0, 0.1);
}
.button--primary {
  background: var(--hard);
  color: #fff;
}
.button:hover {
  box-shadow: 0px 0px 18px 15px rgba(0, 0, 0, 0.15);
}

.full-width {
  width: 100%;
}

input[type=checkbox] {
  display: none;
}
input[type=checkbox] + label:before {
  content: "";
  display: block;
  position: absolute;
  top: 10px;
  right: 0;
  width: 43px;
  height: 8px;
  background: rgba(255, 255, 255, 0.4);
  cursor: pointer;
  border-radius: 50px;
}
input[type=checkbox] + label:after {
  content: "";
  display: block;
  position: absolute;
  top: 1px;
  right: 18px;
  width: 25px;
  height: 25px;
  background: var(--hard);
  cursor: pointer;
  border-radius: 50%;
  box-shadow: 1px 1px 0px 0px rgba(0, 0, 0, 0.15);
  transition: all 0.3s ease-in-out;
}
input[type=checkbox]:checked + label:after {
  right: 0;
}

::-webkit-input-placeholder {
  font-weight: 300;
  color: rgba(255, 255, 255, 0.5);
}

.tooltip {
  padding: 7px;
  border-radius: 1px;
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  font-size: 12px;
  position: absolute;
  top: -10px;
  right: 0;
}

/* LOGIN & REGISTER END */

/* SLIDER START */

.slider-outer-wrapper {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.slider-outer-wrapper.no-slide {
  width: 170px;
  height: 100px;
  /* overflow: hidden */
}

.untitled {
  height: 100%;
  width: 100%;
  -webkit-animation: rotateHue infinite 20s linear;
          animation: rotateHue infinite 20s linear;
  -webkit-animation-delay: 0.625s;
          animation-delay: 0.625s;
}
@-webkit-keyframes rotateHue {
  0% {
    filter: hue-rotate(0deg);
  }
  20% {
    filter: hue-rotate(0deg);
  }
  25% {
    filter: hue-rotate(90deg);
  }
  45% {
    filter: hue-rotate(90deg);
  }
  50% {
    filter: hue-rotate(180deg);
  }
  70% {
    filter: hue-rotate(180deg);
  }
  75% {
    filter: hue-rotate(270deg);
  }
  95% {
    filter: hue-rotate(270deg);
  }
  100% {
    filter: hue-rotate(360deg);
  }
}
@keyframes rotateHue {
  0% {
    filter: hue-rotate(0deg);
  }
  20% {
    filter: hue-rotate(0deg);
  }
  25% {
    filter: hue-rotate(90deg);
  }
  45% {
    filter: hue-rotate(90deg);
  }
  50% {
    filter: hue-rotate(180deg);
  }
  70% {
    filter: hue-rotate(180deg);
  }
  75% {
    filter: hue-rotate(270deg);
  }
  95% {
    filter: hue-rotate(270deg);
  }
  100% {
    filter: hue-rotate(360deg);
  }
}
.untitled__shutters {
  position: absolute;
  height: 150vmax;
  width: 150vmax;
  left: calc(50% - 75vmax);
  top: calc(50% - 75vmax);
  pointer-events: none;
  z-index: 2;
  -webkit-animation: rotateFrame 20s linear infinite;
          animation: rotateFrame 20s linear infinite;
}
@-webkit-keyframes rotateFrame {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(180deg);
  }
}
@keyframes rotateFrame {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(180deg);
  }
}
.untitled__shutters:before, .untitled__shutters:after {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  left: 50%;
  transform: translate3d(-50%, 0, 0);
  background-color: #b3401a;
  pointer-events: auto;
}
.untitled__shutters:before {
  bottom: 50%;
  -webkit-animation: openTop 5s infinite;
          animation: openTop 5s infinite;
}
@-webkit-keyframes openTop {
  0% {
    transform: translate3d(-50%, 0, 0);
    -webkit-animation-timing-function: cubic-bezier(0.8, 0, 0.1, 1);
            animation-timing-function: cubic-bezier(0.8, 0, 0.1, 1);
  }
  40% {
    transform: translate3d(-50%, -65vmax, 0);
    animation-timing-functon: cubic-bezier(0.6, 0.04, 0.98, 0.335);
  }
  70% {
    transform: translate3d(-50%, -65vmax, 0);
    animation-timing-functon: cubic-bezier(0.6, 0.04, 0.98, 0.335);
  }
  100% {
    transform: translate3d(-50%, 0, 0);
    -webkit-animation-timing-function: cubic-bezier(0.6, 0.04, 0.98, 0.335);
            animation-timing-function: cubic-bezier(0.6, 0.04, 0.98, 0.335);
  }
}
@keyframes openTop {
  0% {
    transform: translate3d(-50%, 0, 0);
    -webkit-animation-timing-function: cubic-bezier(0.8, 0, 0.1, 1);
            animation-timing-function: cubic-bezier(0.8, 0, 0.1, 1);
  }
  40% {
    transform: translate3d(-50%, -65vmax, 0);
    animation-timing-functon: cubic-bezier(0.6, 0.04, 0.98, 0.335);
  }
  70% {
    transform: translate3d(-50%, -65vmax, 0);
    animation-timing-functon: cubic-bezier(0.6, 0.04, 0.98, 0.335);
  }
  100% {
    transform: translate3d(-50%, 0, 0);
    -webkit-animation-timing-function: cubic-bezier(0.6, 0.04, 0.98, 0.335);
            animation-timing-function: cubic-bezier(0.6, 0.04, 0.98, 0.335);
  }
}
.untitled__shutters:after {
  top: 50%;
  -webkit-animation: openBottom 5s infinite;
          animation: openBottom 5s infinite;
}
@-webkit-keyframes openBottom {
  0% {
    transform: translate3d(-50%, 0, 0);
    -webkit-animation-timing-function: cubic-bezier(0.8, 0, 0.1, 1);
            animation-timing-function: cubic-bezier(0.8, 0, 0.1, 1);
  }
  40% {
    transform: translate3d(-50%, 65vmax, 0);
    animation-timing-functon: cubic-bezier(0.6, 0.04, 0.98, 0.335);
  }
  70% {
    transform: translate3d(-50%, 65vmax, 0);
    animation-timing-functon: cubic-bezier(0.6, 0.04, 0.98, 0.335);
  }
  100% {
    transform: translate3d(-50%, 0, 0);
    -webkit-animation-timing-function: cubic-bezier(0.6, 0.04, 0.98, 0.335);
            animation-timing-function: cubic-bezier(0.6, 0.04, 0.98, 0.335);
  }
}
@keyframes openBottom {
  0% {
    transform: translate3d(-50%, 0, 0);
    -webkit-animation-timing-function: cubic-bezier(0.8, 0, 0.1, 1);
            animation-timing-function: cubic-bezier(0.8, 0, 0.1, 1);
  }
  40% {
    transform: translate3d(-50%, 65vmax, 0);
    animation-timing-functon: cubic-bezier(0.6, 0.04, 0.98, 0.335);
  }
  70% {
    transform: translate3d(-50%, 65vmax, 0);
    animation-timing-functon: cubic-bezier(0.6, 0.04, 0.98, 0.335);
  }
  100% {
    transform: translate3d(-50%, 0, 0);
    -webkit-animation-timing-function: cubic-bezier(0.6, 0.04, 0.98, 0.335);
            animation-timing-function: cubic-bezier(0.6, 0.04, 0.98, 0.335);
  }
}
.untitled__slides {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background-color: #b3401a;
}
.untitled__slide {
  position: absolute;
  height: 100%;
  width: 100%;
  opacity: 0;
  -webkit-animation: showHideSlide infinite 20s steps(1);
          animation: showHideSlide infinite 20s steps(1);
}
@-webkit-keyframes showHideSlide {
  0% {
    opacity: 1;
    pointer-events: auto;
    z-index: 1;
  }
  25% {
    opacity: 0;
    pointer-events: none;
    z-index: -1;
  }
  100% {
    opacity: 0;
    pointer-events: none;
    z-index: -1;
  }
}
@keyframes showHideSlide {
  0% {
    opacity: 1;
    pointer-events: auto;
    z-index: 1;
  }
  25% {
    opacity: 0;
    pointer-events: none;
    z-index: -1;
  }
  100% {
    opacity: 0;
    pointer-events: none;
    z-index: -1;
  }
}
.untitled__slide:nth-child(1) {
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
}
.untitled__slide:nth-child(1) .untitled__slideBg {
  background-image: url(https://www.drmanalyoussef.com.au/wp-content/uploads/brizy/34/assets/images/iW=5000&iH=any/6949d2059ce8613cb4701ac90fc8e5ba.jpg);
}
.untitled__slide:nth-child(2) {
  -webkit-animation-delay: 5s;
          animation-delay: 5s;
}
.untitled__slide:nth-child(2) .untitled__slideBg {
  background-image: url(https://s0.bukalapak.com/uploads/content_attachment/5cd56879e0c10aaa81e292b5/w-740/shutterstock_597236540.jpg);
}
.untitled__slide:nth-child(3) {
  -webkit-animation-delay: 10s;
          animation-delay: 10s;
}

.untitled__slide:nth-child(3) .untitled__slideBg {
  background-image: url(https://www.drmanalyoussef.com.au/wp-content/uploads/brizy/30/assets/images/iW=5000&iH=any/e091cc7096eaf8945c2d674129612337.jpg);
}

.untitled__slide:nth-child(4) {
  -webkit-animation-delay: 15s;
          animation-delay: 15s;
}

.untitled__slide:nth-child(4) .untitled__slideBg {
  background-image: url("./assets/anya-wal.jpeg");
}
.untitled__slideBg {
  position: relative;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background-size: cover;
  background-position: center;
  background-color: #b3401a;
  background-blend-mode: hard-light;
  opacity: 1;
  z-index: -1;
  -webkit-animation: bgInOut 5s infinite;
          animation: bgInOut 5s infinite;
}
@-webkit-keyframes bgInOut {
  0% {
    transform: rotate(-45deg) scale(1.1);
    -webkit-animation-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
            animation-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
  }
  33% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(0deg);
  }
  66% {
    transform: rotate(0deg);
    -webkit-animation-timing-function: cubic-bezier(0.895, 0.03, 0.685, 0.22);
            animation-timing-function: cubic-bezier(0.895, 0.03, 0.685, 0.22);
  }
  100% {
    transform: rotate(45deg) scale(0.9);
  }
}
@keyframes bgInOut {
  0% {
    transform: rotate(-45deg) scale(1.1);
    -webkit-animation-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
            animation-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
  }
  33% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(0deg);
  }
  66% {
    transform: rotate(0deg);
    -webkit-animation-timing-function: cubic-bezier(0.895, 0.03, 0.685, 0.22);
            animation-timing-function: cubic-bezier(0.895, 0.03, 0.685, 0.22);
  }
  100% {
    transform: rotate(45deg) scale(0.9);
  }
}
.untitled__slideContent {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
  color: white;
  font-family: "Abril Fatface", sans-serif;
  line-height: 0.8;
  letter-spacing: -0.025em;
  z-index: 2;
  opacity: 1;
  text-shadow: 0 0 0.5em rgba(179, 64, 26, 0.25);
  mix-blend-mode: lighten;
}
.untitled__slideContent span {
  display: block;
  font-size: 15vmin;
}

.slider-outer-wrapper.no-slide .button {
  border: 3px solid var(--bright);
  color: var(--hard);
  box-shadow: -0.5vmin 0.5vmin 0 rgba(65, 44, 66, .5);
}

.slider-outer-wrapper.no-slide .button.bg-soft {
  background: transparent;
  border: 3px solid white;
  color: white;
  box-shadow: -0.5vmin 0.5vmin 0 rgb(255 255 255 / 50%);
}

.slider-outer-wrapper .button {
  font-family: "acta-display", sans-serif;
  text-decoration: none;
  font-weight: 800;
  text-transform: uppercase;
  font-size: 2vmin;
  display: inline-block;
  position: relative;
  border: 3px solid white;
  box-shadow: -0.5vmin 0.5vmin 0 rgba(255, 255, 255, 0.5);
  background: transparent;
  margin-top: 5vmin;
  mix-blend-mode: lighten;
  color: white;
  padding: 2vmin 2vmin 1.8vmin 2vmin;
  letter-spacing: 0.1em;
  text-shadow: none;
  line-height: 1;
  transform: translate3d(0.5vmin, -0.5vmin, 0);
  transition: all 100ms linear;
}

.slider-outer-wrapper.no-slide .bg-soft.button:hover ,
.slider-outer-wrapper  .button:hover {
  transform: translate3d(1vmin, -1vmin, 0);
  box-shadow: -1vmin 1vmin 0 rgba(255, 255, 255, 0.5);
  background: white;
  color: black;
}
.slider-outer-wrapper .button:active {
  transform: translate3d(0px, 0px, 0);
  box-shadow: 0px 0px 0 rgba(255, 255, 255, 0.5);
}

/* SLIDER END */

/* NAVBAR DASHBOARD START*/

.dashboard {
  overflow: hidden;
}

.navbar {
  background-color: var(--navBg);
  height: 80px;
  display: flex;
  justify-content: start;
  align-items: center;
}

.navbar a {
  color: var(--hard)
}

.menu-bars {
  margin-left: 2rem;
  font-size: 2rem;
  background: none;
  color: var(--bright);
}

.navbar > .menu-bars {
  text-decoration: none;
  background-color: var(--soft);
  border: 2px solid var(--hard);
  border-radius: 50px;
  padding: 5px 20px;
}

.navbar > .menu-bars:hover {
  background-color: var(--hard);
  border: 2px solid var(--soft);
}

.menu-bars:hover {
  transform: scale(1.2);
  color: var(--soft)
}

.menu-bars:hover,
.menu-bars {
  transition: 0.3s;
}

.nav-menu {
  background-color: var(--hard);
  width: 250px;
  height: 100vh;
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  left: -100%;
  transition: 850ms;
  border-top-right-radius: 50px;
}

.nav-menu.active {
  left: 0;
  transition: 350ms;
}

.nav-text {
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 8px 0 8px 16px;
  list-style: none;
  height: 60px;
}

.nav-text a {
  text-decoration: none;
  color: var(--bright);
  font-size: 18px;
  width: 95%;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 16px;
  border-radius: 4px;
}

.nav-text a:hover {
  background-color: var(--soft);
  color: var(--hard)
}

.nav-text a,
.nav-text a:hover {
  transition: 0.3s;
}

.nav-menu-items {
  width: 100%;
  padding: 0;
}

.navbar-toggle {
  background-color: var(--navBg);
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: start;
  align-items: center;
}

span {
  margin-left: 16px;
}

/* NAVBAR DASHBOARD END */

/* PAGE NOT FOUND START*/
@import url("https://fonts.googleapis.com/css?family=Abril+Fatface|Lato");

.not-found-container {
  background: var(--soft);
  min-height: 100vh;
}

.not-found-container .container {
  margin: 0 auto;
  position: relative;
  width: 250px;
  height: 250px;
  margin-top: -40px;
}

.ghost {
  width: 50%;
  height: 53%;
  left: 25%;
  top: 10%;
  position: absolute;
  border-radius: 50% 50% 0 0;
  background: var(--bright);
  border: 1px solid #BFC0C0;
  border-bottom: none;
  animation: float 2s ease-out infinite;
}

.ghost-copy {
  width: 50%;
  height: 53%;
  left: 25%;
  top: 10%;
  position: absolute;
  border-radius: 50% 50% 0 0;
  background: var(--bright);
  border: 1px solid #BFC0C0;
  border-bottom: none;
  animation: float 2s ease-out infinite;
  z-index: 0;
}

.face {
  position: absolute;
  width: 100%;
  height: 60%;
  top: 20%;
}

.eye, .eye-right {
  position: absolute;
  background: #585959;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  top: 40%;
}

.eye {
  left: 25%;
}

.eye-right {
  right: 25%;
}

.mouth {
  position: absolute;
  top: 50%;
  left: 45%;
  width: 10px;
  height: 10px;
  border: 3px solid;
  border-radius: 50%;
  border-color: transparent #585959 #585959 transparent;
  transform: rotate(45deg);
}

.one, .two, .three, .four {
  position: absolute;
  background: var(--bright);
  top: 85%;
  width: 25%;
  height: 23%;
  border: 1px solid #BFC0C0;
  z-index: 0;
}

.one {
  border-radius: 0 0 100% 30%;
  left: -1px;
}

.two {
  left: 23%;
  border-radius: 0 0 50% 50%;
}

.three {
  left: 50%;
  border-radius: 0 0 50% 50%;
}

.four {
  left: 74.5%;
  border-radius: 0 0 30% 100%;
}

.not-found-container .shadow {
  position: absolute;
  width: 30%;
  height: 7%;
  background: #BFC0C0;
  left: 35%;
  top: 80%;
  border-radius: 50%;
  animation: scale 2s infinite;
}

@keyframes scale {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes float {
  50% {
    transform: translateY(15px);
  }
}
.not-found-container .bottom {
  margin-top: 10px;
}

/*text styling*/
.not-found-container h1 {
  font-family: "Abril Fatface", serif;
  color: var(--bright);
  text-align: center;
  font-size: 9em;
  margin: 0;
  text-shadow: -1px 0 #BFC0C0, 0 1px #BFC0C0, 1px 0 #BFC0C0, 0 -1px #BFC0C0;
}

.not-found-container h3 {
  font-family: "Lato", sans-serif;
  font-size: 2em;
  text-transform: uppercase;
  text-align: center;
  color: #BFC0C0;
  margin-top: -20px;
  font-weight: 900;
}

.not-found-container p {
  text-align: center;
  font-family: "Lato", sans-serif;
  color: #585959;
  font-size: 0.6em;
  margin-top: -20px;
  text-transform: uppercase;
}

.not-found-container .btn {
  background: var(--medium);
  padding: 15px 20px;
  margin: 5px;
  color: var(--texting);
  font-family: "Lato", sans-serif;
  text-transform: uppercase;
  font-size: 0.6em;
  letter-spacing: 1px;
  border: 0;
}
.not-found-container .btn:hover {
  background: var(--hard);
  color: var(--soft);
  transition: all 0.4s ease-out;
}
/* PAGE NOT FOUND END */

/* LOCAL LOADER START */

.overlay-load {
  background-color: rgba(233, 224, 229, .6);
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  position: fixed;
  overflow: hidden;
  z-index: 999999999;
}

.local-load > div {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.ls-15 {
  letter-spacing: 0.15em;
}

/* LOCAL LOADER END */

/* MODAL PROFILE START */

.modal-content {
  padding: 20px;
  border-radius: 20px;
  background-color: var(--soft)
}

.modal-header {
  border-bottom: 1px solid var(--hard);
}

.modal-image-wrapper {
  width: 100%;
}

.modal-image-wrapper img {
  width: 100%;
  height: auto;
}


/* MODAL PROFILE END */

/* MEDIA QUERY START */

@media screen and (max-width: 500px) {
  .hero__title {
     font-size: 32px;
  }

  .slider.slider--zoom {
    background-color: transparent
  }

  .untitled__slideBg {
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    top: 250px;
  }

  .untitled__slideContent {
    top: 50%;
  }

  .cards {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }

  .card { height: 300px; }

  .form-block--is-signup {
    width: 350px;
  }

  .dashboard {
    background-size: cover;
  }

  .menu-bars {
    margin-left: 0;
  }

  .stub {
    width: 100%;
  }

  .check {
    width: 200px;
  }
}

.emp-profile{
  padding: 3%;
  margin-top: 5%;
  margin-bottom: 3%;
  border-radius: 0.5rem;
  background: #fff;
}
.profile-img{
  text-align: center;
}
.profile-img img{
  width: 100%;
  height: 300%;
}
.profile-img .file {
  position: relative;
  overflow: hidden;
  margin-top: -20%;
  width: 70%;
  border: none;
  border-radius: 0;
  font-size: 15px;
  background: #212529b8;
}
.profile-img .file input {
  position: absolute;
  opacity: 0;
  right: 0;
  top: 0;
}
.profile-head h5{
  color: #333;
}
.profile-head h6{
  color: #0062cc;
}
.profile-edit-btn{
  border: none;
  border-radius: 1.5rem;
  width: 70%;
  padding: 2%;
  font-weight: 600;
  color: #6c757d;
  cursor: pointer;
}
.proile-rating{
  font-size: 12px;
  color: #818182;
  margin-top: 5%;
}
.proile-rating span{
  color: #495057;
  font-size: 15px;
  font-weight: 600;
}
.profile-head .nav-tabs{
  margin-bottom:5%;
}
.profile-head .nav-tabs .nav-link{
  font-weight:600;
  border: none;
}
.profile-head .nav-tabs .nav-link.active{
  border: none;
  border-bottom:2px solid #0062cc;
}
.profile-work{
  padding: 14%;
  margin-top: -15%;
}
.profile-work p{
  font-size: 12px;
  color: #818182;
  font-weight: 600;
  margin-top: 10%;
}
.profile-work a{
  text-decoration: none;
  color: #495057;
  font-weight: 600;
  font-size: 14px;
}
.profile-work ul{
  list-style: none;
}
.profile-tab label{
  font-weight: 600;
}
.profile-tab p{
  font-weight: 600;
  color: #0062cc;
}

/* .video-joins > .slider--zoom {
  z-index: 99;
} */